//global
$--sec-border-C: whitesmoke;
$--h6-C: #333;
$--bottom-show-all-bgC: rgba(97, 186, 255, 1);
$--bottom-show-all-C: #ffffff;
$--sec-main-heading-C: rgb(97, 186, 255);
//myBtn-cont
$--myBtn-bgC: rgba(97, 186, 255, 1);
$--myBtn-C: #ffffff;
/*----------------------------------------------*/
//section main heading
$--sec-main-heading-C: #0e0e0f;
$--sec-main-heading-alt-C: #ffffff;
$--sec-main-heading-second-C: rgba(97, 186, 255, 1);
//body
$--body-bgC: #59D5E0;


//hamburger menu
$--hamburger-menu-cont-bgC: rgb(255, 255, 255);
$--hamburger-button-dash-C: rgba(97, 186, 255, 1);
$--hamburger-parent-menu-item-C: #ffffff;
$--hamburger-parent-menu-item-hover-C: rgba(255, 255, 255, 0.5);
$--hamburger-parent-menu-item-hover-bgC: #333;
//child menu
$--hamburger-child-menu-item-C: rgb(255, 255, 255);
$--hamburger-child-menu-item-hover-C: #ffffff;
$--hamburger-child-menu-item-wrapper-bgC: rgb(0, 0, 0);
$--nav-item-border: rgba(97, 186, 255, 1);

/*search-dropdown-filter-2-locations-pagePart*/
$--sdf2lp-bgC: transparent;
$--sdf2lp-dropDown-bgC: rgba(20, 3, 66, 0.2);
$--sdf2lp-dropDown-li-C: rgba(255, 255, 255, 1);
$--sdf2lp-dropDown-li-hov-bgC: rgba(20, 3, 66, 1);
$--sdf2lp-dropDown-filter-name-icon-C: #ffffff;
$--sdf2lp-dropDown-searchWrap-btn-icon-C: #ffffff;
$--sdf2lp-dropDown-filter-name-C: #ffffff;

/*search-dropdown-filter-2-locations-pagePart*/
$--sdf1ap-bgC: transparent;
$--sdf1ap-filterName-C: #ffffff;
$--sdf1ap-filterName-icon-C: #ffffff;
$--sdf1ap-outPutWrap-btn-icon-C: #f5f5f5;
$--sdf1ap-dropDown-bgC: rgba(20, 3, 66, 0.2);
$--sdf1ap-dropDown-BS: rgba(20, 3, 66, 0.2);
$--sdf1ap-dropDown-BC: #333;
$--sdf1ap-dropDown-mainTitle-C: #ffffff;
$--sdf1ap-dropDown-groupTitle-C: #f5f5f5;
$--sdf1ap-dropDown-filterBtn-bgC: rgba(20, 3, 66, 0.1);
$--sdf1ap-dropDown-filterBtn-C: #ffffff;

/*-----------------------------------------------*\
  All section
\*-----------------------------------------------*/
/*Header*/
$--header-bgC: rgba(0, 80, 67, 1);
$--header-C: #f5f5f5;
$--search-box-C: #27272b;
$--search-box-bgC: #00aff0;
$--header-border-bottom-C: rgba(255, 255, 255, 0.15);
$--h3p-othersSubReferWrapA-C: #ffffff;
$--h3p-othersSubReferWrapA-BC: red;
$--h3p-othersSubReferWrapA-h-BGC: #86c232;
$--h3p-othersSubReferWrapA-h-C: #86c232;

/* slogan-sec pagePart*/
$--slogan-heading-1-C: #fbfbfb;
$--slogan-heading-2-C: rgba(97, 186, 255, 1);
$--slogan-article-C: #fbfbfb;
$--slogan-sec-bgC: rgba(0, 102, 89, 1);
$--slogan-btn-C: #86c232;

/*search-filter-section*/
$--sfs-bgC: rgba(0, 102, 89, 1);
